.pager .ui-button {
	margin-right: -5px;
}

.pager a:hover.ui-button {
	color: Black !important;
}
.grid_create {
	float:right;
}
.go_to {
	clear:both;
	float:right;
}
.job a.contact_me {
	padding-left: 45px;
	background: transparent url("/Content/images/mail.png") no-repeat left top;
	line-height: 27px;
}

.job {
	background-color: #f5f5f5;
	margin-top: 1em;
	display:block;
}
.job .pad-right {
	padding-left: 25px;
}
.job h2 {
	font-size:1.5em;
}
.job section, .job header, .job footer {
	padding: 0px 10px;
	display:block;
}
.job header {
	padding-top: 5px;
}
.job footer {
	clear:both;
	font-weight: bold;
	background-color: #ebebeb;
	padding: 3px 10px;
}
.job .grid_details {
	float:right;
}
.job .place {
	float:right;
	text-align:right;
}
.job .state {
	font-weight: bold;
}
.job .desc {
	overflow: hidden;
	_height: 4.2em;
	max-height: 4.2em;
	margin-bottom: 3px;
}
.f_right {
	float: right;
}

.f_left {
	float: left;
}

.cleaner {
	clear: both;
}

#search {
	float:right;
	padding: 5px 10px 0px 0px;
}
#search input {
	border: 0px solid white;
}
#search input[type="submit"] {
	color: #1ba1e2;
	background-color: White;
}
#search input[type="submit"]:hover {
	color: #8cbf26;
}
#logindisplay {
	font-size:0.9em;
	display:block;
	text-align:right;
	padding: 5px 10px 0px 0px;
}

#logindisplay a:link {
	color: white;
	text-decoration: underline;
}

#logindisplay a:visited {
	color: white;
	text-decoration: underline;
}

#logindisplay a:hover {
	color: white;
	text-decoration: none;
}

#people, #projects {
			margin: 0 20px 0 10px;
			float: left;
			width: 445px;
		}
/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
	margin: 0.2em 0;
	padding: 0.2em 0.5em 0.5em 0.5em;
	border: 1px solid #666;
}

fieldset p {
	margin: 2px 12px 10px 10px;
}

legend {
	font-size: 1.1em;
	font-weight: 600;
	padding: 2px 4px 8px 4px;
}

input[type="text"] {
	width: 200px;
	border: 1px solid #666;
}

input[type="password"] {
	width: 200px;
	border: 1px solid #666;
}

/* TABLE
----------------------------------------------------------*/

table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}

table td {
  padding: 5px;   
  border: 0;
}

table th {
  padding: 6px 5px;
  text-align: left;
  color: White;
  background-color: #666666; 
  border: solid 1px #666666;   
}
table .no_wrap {
	white-space: nowrap;
}

table tr:nth-child(even) {background: #f7f7f7}
table tr:hover { background-color: #e4f3e1; }
/* MISC  
----------------------------------------------------------*/
.error {
	color:Red;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #ff0000;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid {
	display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.form_content {
	padding: 1.4em 0px;
}
.display-label,
.editor-label,
.display-field,
.editor-field {
	margin: 10px 0 0 0;
	padding: 0;
}

.display-label, .editor-label {
	clear: both;
	float: left;
	font-weight: bold;
	text-align: right;
	width: 236px;
	padding-right: 25px;
}
.display-field,
.editor-field {
	float: left;
	width: 620px;
	border-left: 2px solid #09963b;
	padding: 10px 2em 3px 1em;
	min-height: 1.5em;
	margin: 0;
	position: relative;	
}
.editor-field .editor-hint {
	display: block;
	font-style: italic;
}
.editor-submit {
	float: left;
	width: 620px;	
	border-left: 2px solid #09963b;
	padding: 10px 2em;
	margin: 0;
	margin-top: 1px;
	clear: none;
}
.editor-submit input {
	width: 128px;
}

.editor-label input[type="checkbox"] {
	margin-top: -8px;
}

.editor-field>input, .editor-field select {
	width: 256px;
}
.text-box.multi-line {
	width: 256px;
	height: 6.5em;
}
.tri-state {
	width: 6em;
}

.buttons {
	margin: 2px 0px;
}
