@{
	ViewBag.Title = "Contact ok";
}

<h2>Ponuka bola ukončená</h2>
<p>
Ponuka bola ukončená. Ak ju chcete obnoviť kontaktujte administrátora.
</p>
<div class="ajax_ignore">
	@Html.ActionLink("Späť na zoznam záujemcov", "Index") 
</div>


