@{
	ViewBag.Title = "Contact ok";
}

<h2>Kontakt odoslaný úspešne</h2>
<p>
Záujemcovi bol odoslaný email s Vami zadanými údajmi.
</p>
<div class="ajax_ignore">
	@Html.ActionLink("Späť na zoznam záujemcov", "Index") 
</div>


