@{
	ViewBag.Title = "Contact fail";
}

<h2>Kontakt email NEBOL odoslaný</h2>
<p>
Čo si budeme klamať, niečo sa pokašľalo a email nebol odoslaný. Teraz už len zostáva informovať dobrého admina aby skúsil tento problem vyriešiť.
</p>
<div class="ajax_ignore">
	@Html.ActionLink("Späť na zoznam záujemcov", "Index") 
</div>
