@{
	ViewBag.Title = "ConfirmSent";
}

<h2>Registračný email odoslaný</h2>
<p>
Na Vami zadaný email bol odoslaný email s linkou, po kliknutí na ktorú bude Vaša ponuka zverejnená.
</p>
<div class="ajax_ignore">
	@Html.ActionLink("Späť na zoznam záujemcov", "Index") 
</div>
@{ Html.ScriptInlineInclude(
@<script type="text/javascript">
	$(function () {
		$(".buttons").each(function () {
			$("button:first", this).hide();
		});
	});
</script>);
}

