@{
	ViewBag.Title = "Contact ok";
}

<h2>Ponuka bola ukonèená</h2>
<p>
Ponuka bola ukonèená. Ak ju chcete obnovi kontaktujte administrátora.
</p>
<div class="ajax_ignore">
	@Html.ActionLink("Späť na zoznam projektov", "Index") 
</div>


